.content {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;

}
.form-container {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 200px 300px;
    grid-gap: 2rem .5rem;
    font-weight: bold;
    color: #2f3542;

}
.form-container label {
    grid-column: 1 / 2;
}

.form-container input {
    grid-column: 2 / 3;
}

#submit-btn {
    border: 0;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    background-color: #2f3542;
    color: #fff;
    padding: 15px 15px;
    transition: background-color .2s, color .2s;
    cursor: pointer;
    align-self: center;
    margin-top: 1.5rem;
}

#submit-btn:hover {
    background-color: #ccc;
    color: #2f3542;
}

.table-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "products order";
}

#productTable{
	grid-area: products;
}

#orderTable{
	grid-area: order;
}

#productTable,
#orderTable{
	padding: 1em;
}

#productTable > p,
#orderTable > p{
	text-align: center;
	color: #2f3542;
	font-weight: bold;
	padding-bottom: 1em;
}