.general {
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}
.map-container {
    position: relative;
    width: 100%;
    height: 50%;
}

#map {
    height: 500px;
}

.dashboards-section {
    padding: .5rem;
}
.dashboards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .5rem .5rem;
    font-size: 60%;
}

h2 {
    padding: .5rem;
    color: #fff;
    background-color: #191818;
}