*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header" "menu" "main-content" "footer";
}

.row {
    width: 100%;
}

.section-header {
    grid-area: header;
    font-size: 120%;
    text-align: center;
    background-color: #2f3542;
    width: 100vw;
}

#logo{
	margin-left: 0em;
}

#nozamaLogo{
	width: 210px;
	height: 80px;
	margin: 10px;
}
 
#menu {
    grid-area: menu;
    background-color: #2f3542;
}

.menu-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.language-content{
	margin: 0.6em;
	width: 130px;
	height: 30;
	border: none;
	background-color: #2f3542;
	color: white;
	padding-left:0.5em;
	margin-top: 1.5em;
	-webkit-appearance: none;
}

#menu a:link,
#menu a:visited {
    display: block;
    text-decoration: none;
    background-color: #2f3542;
    color: #e7e7e7;
    margin: 1rem .5rem;
    padding: 15px 15px;
    transition: background-color .2s, color .2s;
}

#menu a:hover,
#menu a:active {
    background-color: #00ff58;
    color: #2f3542;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.main {
    grid-area: main-content;
    height: 100%;
}

footer {
    grid-area: footer;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80%;

}

footer p {
    text-align: center;
    color: #fff;
}

h2 {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #ccc;
    color: #2f3542;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    /*width: 15%;*/
    text-align: center;
}

@media (min-width: 425px) {
    body {
	    display: grid;
	    grid-template-columns: 175px auto;
	    grid-template-rows: auto auto auto;
	    grid-template-areas: "header header" "menu main-content" "footer footer";
    }
    
    .menu-content{
		grid-template-columns: 1fr;
	}
}