*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "menu" "main-content" "footer";
    width: 100%;
    height: 100%;
}

.section-header {
    grid-area: header;
    text-align: center;
    background-color: #2f3542;
}

.locales {
    border: none;
    border-radius: 0;
    background-color: #2f3542;
    color: #e7e7e7;
    padding-left: 1.2rem;
}

.locales {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;
}

#logo{
	margin-left: 0em;
}

#nozamaLogo{
	width: 210px;
	height: 80px;
	margin: 10px;
}
 
#menu {
    grid-area: menu;
    background-color: #2f3542;
}

#menu a:link,
#menu a:visited {
    display: block;
    text-decoration: none;
    background-color: #2f3542;
    color: #e7e7e7;
    margin: 1rem .5rem;
    padding: 15px 15px;
    transition: background-color .2s, color .2s;
}

#menu a:hover,
#menu a:active {
    background-color: #00ff58;
    color: #2f3542;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.main {
    grid-area: main-content;
    height: 100%;
}

footer {
    grid-area: footer;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 80%;

}

footer p {
    text-align: center;
    color: #fff;
}

h2 {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: #ccc;
    color: #2f3542;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    /*width: 15%;*/
    text-align: center;
}

.dropbtn {
    display: none;
    background-color: #00ff58;
    color: #2f3542;
    font-size: 16px;
    padding: 15px;
    width: auto;
    transition: background-color .2s;
}

@media (min-width: 768px) {
    body {
	    display: grid;
	    grid-template-columns: 175px auto;
	    grid-template-areas: "header header" "menu main-content" "footer footer";
    }
}

@media (max-width: 767px) {
    #menu {
        position: relative;
        display: inline-block;
        margin-bottom: 1rem;
        width: 25%;
        background-color: #fff;
    }

    .dropbtn {
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }

    .menu-content{
        grid-template-columns: 1fr;
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #2f3542;

    }

    #menu:hover .dropbtn {
        background-color: #00cc46;
        color: #2f3542;
    }

    .menu-content a {
        display: block;
    }

    #menu:hover .menu-content {
        display: block;}
}