.table-container{
	display: grid;
	grid-template-areas: "orderTable" "subOrderTable";
}

#order-list-table{
	grid-area: orderTable;
	margin-bottom: 1em;
}

#subOrder-list-table{
	grid-area: subOrderTable;
}

@media (min-width: 425px) {
    .table-container{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "orderTable subOrderTable";
    }
    
    #order-list-table,
    #subOrder-list-table{
    	margin: 1em;
    	margin-bottom: 0;
    }
    
}